modules = ["web", "nodejs-20"]
run = "ng serve --host 0.0.0.0 --disable-host-check"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 4200
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43274881
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development ng serve --host 0.0.0.0 --disable-host-check"
