modules = ["web", "nodejs-20", "bash"]

run = "npm start"

[nix]
channel = "stable-25_05"
packages = ["killall"]

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist/qartha"

[workflows]
runButton = "Start Angular"

[[workflows.workflow]]
name = "Start Angular"
author = 43274881
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
