modules = ["web", "nodejs-20"]

run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["killall"]

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist/lexia"

[workflows]
runButton = "Start Angular"

[[workflows.workflow]]
name = "Start Angular"
author = 43274881
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx kill-port 4200"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 4200
externalPort = 80
