
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <h2>{{ 'MENUITEMS.DOCUMENTS.TEXT' | translate }}</h2>
      <app-breadcrumb [title]="'MENUITEMS.DOCUMENTS.TEXT' | translate" [items]="breadcrumbItems" [active_item]="'MENUITEMS.DOCUMENTS.TEXT' | translate"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              {{ 'MENUITEMS.DOCUMENTS.TEXT' | translate }}
            </h2>
          </div>
          <div class="body">
            <p>Documents module content will be displayed here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
